.main-sidebar .sidebar-menu li a span.material-symbols-outlined {
  width: auto !important;
  font-size: 1.5rem !important;
}

/* sidebar links */
.nav-link[data-toggle="tooltip"] .material-symbols-outlined {
  display: block !important;
  margin-right: 0 !important;
  font-size: 1.5rem !important;
}

.product-upload-placeholder {
  background-color: #f0f0f0;
  width: 350px;
  height: 400px;
}

.row-2-form div{
  padding-left: 0px;
  margin-bottom: 10px;
}


@media (max-width: 992px) {
.row-2-form div{
  width: 100%;
  padding-right: 0px;
}
}

